.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  background: #1c1c1c;
  width: 400px;
  height: 400px;
  color: white;
  border-radius: 4px;
}

.login-form {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
